[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipdb = "*"


[packages]

pillow = "*"
numpy = "*"
scipy = "*"
scikit-image = "*"
scikit-learn = "*"
tqdm = "*"
randomwords = "*"


[requires]

python_version = "3.6"
